{% include 'base.html' %}
{% block content %}
<h1>New Article</h1>

<form action="{% url 'blog:create' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="title">Title</label>
        <input id="title" type="text" name="title">
    </div>
    <div>
        <label for="content">Content</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="writer">Writer</label>
        <input type="text" name="writer" id="writer">
    </div>
    <div>
        <input type="submit" value="전송">
    </div>
</form>
{% endblock content %}