TextField:focused{
	-fx-border-color:#0000FF;
	-fx-background-color:#00FF00;
	
}

Button:hover{
	-fx-border-color:#00FF00;
	-fx-background-color:#FFFFFF;
}

Button:pressed{
	-fx-border-color:#00FF00;
	-fx-background-color:#FF0000;
}