<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <p>Logged in as [{{request.user}}]</p>
    <ul>
        <li><a href="{% url 'polls:question_index' %}">Home</a></li>
        {% if not request.user.is_authenticated %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        {% else %}
            <li><a href="{% url 'polls:question_create' %}">New Question</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            <li><a href="{% url 'accounts:profile' request.user.username %}">{{request.user.username}}님의 My Page</a></li>
        {% endif %}
    </ul>
    {% block content %}{% endblock content %}
</body>
</html>