@charset "UTF-8";

.rowLine{
  		border-bottom:1px solid #AAAAAA; 
  		padding-top:10px;
  		padding-bottom:10px;
  	}
  	
.ellipsis{
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
}
  	
 .myBadge{
  		background-color: #ff0000;
  	}
  	
  	.myCheckbox {
    	width:20px; height:20px;
    }